<div>
    <h1>Index</h1>
    
    <a pop-up-trigger
       direction-priority-list="['left']"
       template-url="/app/book/components/bookPopUp/bookPopUp.html"
       transition-duration-in-milliseconds="0"
       trigger-event="click"
       view-bag="{title:'The Secrets of the JavaScript Ninja'}"
       visibility-duration-in-milliseconds="30000"
       margin="0px"
       display-arrow="true"
       alignment="center"
        
        
       style="top:250px;left:600px;position: absolute;">click</a>
    
    


</div>